<!DOCTYPE html>
<html lang="pr-br">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Calboy Lanches</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/one-page-wonder.min.css" rel="stylesheet">

  </head>
  
  <body>
      {% block content %}
      {% endblock %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container">
        <a href="#">
          <img class="img-fluid rounded-circle" src="static/img/calboy1.jpg" alt style="max-width: 13%">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <ul class="nav justify-content-end">
              <li class="nav-item">
                <a class="nav-link active" href="/pedido">Peça já</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Cardápio</a>
              </li>
            </ul>
          </ul>
        </div>
      </div>
    </nav>
    
    <!-- Footer -->
    <footer class="bg-black" style="position: fixed;bottom:0px;height:10px;width:100%; padding: 30px 0; background:#999;">
          <div class="container">
            <p class="m-0 text-center text-white small">Copyright © Your Website 2018</p>
          </div>
          <!-- /.container -->
    </footer>
      <!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <script src="static/jquery/jquery.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
